@model SchoolManager.Domain.Entities.Book

@{
    ViewBag.Title = "Details";
}

@*<div class="banner-seccion">
    <img src="@Url.Content("~/Content/Images/banner_talleres.jpg")" />
</div>*@
<div class="row-donde">
    <div class="content-wrapper">
        <p>Estás aquí: <span>Admin</span> > <span>Galería</span> > <span class="hlited">Detalles</span></p>
    </div>
</div>

<div class="content-wrapper seccion clear-fix">
    <h1 class="header-seccion">Detalles</h1>
	<fieldset class="regularform editform detailsform">
		<div class="display-label">
			@Html.DisplayNameFor(model => model.Title):
			@Html.DisplayFor(model => model.Title)
		</div>
		<div class="display-label">
			@Html.DisplayNameFor(model => model.Link):
			@Html.DisplayFor(model => model.Link)
		</div>
		<div class="display-label">
			@Html.DisplayNameFor(model => model.Description):
			@Html.DisplayFor(model => model.Description)
		</div>
		<div class="display-label">
			@Html.DisplayNameFor(model => model.Author):
			@Html.DisplayFor(model => model.Author)
		</div>
	</fieldset>
	<p>
		<div class="rb-cont">@Html.ActionLink("Editar", "Edit", new { id=Model.Id })</div>
		<div class="secbtn padfix">@Html.ActionLink("Back to List", "Index")</div>
	</p>
</div>