@model SchoolManager.Domain.Entities.Post
@{
	ViewBag.Title = "Editar publicación";
}
<link href="@Url.Content("~/Content/jHtmlArea/jHtmlArea.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jHtmlArea/jHtmlArea.ColorPickerMenu.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jHtmlArea-0.8.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jHtmlArea.ColorPickerMenu-0.8.min.js")" type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		$("textarea").htmlarea(
			{
			toolbar: [
				"forecolor",
				"|",
				"bold", "italic", "underline", "strikethrough",
				"|",
				"link", "unlink",
				"|",
				"p", "h1", "h2", "h3", "h4", "h5", "h6",
				"|",
				"image", "link", "unlink",
				"|",
				"orderedList", "unorderedList",
				"|",
				"indent", "outdent",
				"|",
				"justifyleft", "justifycenter", "justifyright",
				"|",
				"increasefontsize", "decreasefontsize"
			]
			}
		);
	});
</script>
@*<div class="banner-seccion">
	<img src="@Url.Content("~/Content/Images/banner_talleres.jpg")" />
</div>*@
<div class="row-donde">
	<div class="content-wrapper">
		<p>Estás aquí: <span>Admin</span> > <span class="hlited">Publicaciones</span></p>
	</div>
</div>
<div class="content-wrapper _novedades seccion">
	<h1 class="header-seccion">
		Editar publicación</h1>
	@using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.ValidationSummary(true)

		<fieldset class="regularform editform">
			@Html.HiddenFor(model => model.UserId)
			<div class="editor-label">
				<label for="Title">Título</label>
				@Html.TextBoxFor(model => model.Title, new { style = "width: 100%;" })
				@Html.ValidationMessageFor(model => model.Title)
			</div>
			<div class="editor-label">
				<label style="margin-bottom: 8px;" for="Text">Texto</label>
				@Html.TextAreaFor(model => model.Text, new { style = "height: 170px;" })
				@*@Html.ValidationMessageFor(model => model.Text, , new { style = "width: 600px; height: 300px;" })*@
			</div>
			<div class="editor-label">
				@Html.EditorFor(model => model.Public)
				<label for="Public">Publica</label>
			</div>
			<div class="editor-label">
				<label for="Category">Categoría</label>
				@Html.DropDownListFor(model => model.Category, new SelectList(Enum.GetValues(typeof(SchoolManager.Domain.Entities.Category)).Cast<SchoolManager.Domain.Entities.Category>().Select(e => new { Id = (int)e, Value = e.ToString() }), "Id", "Value"))
			</div>
			<div class="editor-label">
				<label for="Subject">Materia</label>
				@Html.DropDownListFor(model => model.Subject, (new SelectList(Enum.GetValues(typeof(SchoolManager.Domain.Entities.Subject)).Cast<SchoolManager.Domain.Entities.Subject>().Select(e => new { Id = (int)e, Value = e.ToString() }), "Id", "Value")), string.Empty)
			</div>
			<div class="editor-label">
				<label for="Classroom">Grado</label>
				@Html.DropDownListFor(model => model.ClassroomId, new SelectList(ViewBag.Classrooms, "Id", "Name"), string.Empty)
			</div>
			<div class="editor-label">
				<label for="file">Archivo adjunto</label>
				@*@if (Model.Files != null && Model.Files.Count == 0)
				{*@ 
					<input name="file" id="file" type="file" />
				@*}*@
				@if (Model.Files != null && Model.Files.Count > 0)
				{
					<ul>
						@foreach (var file in Model.Files)
						{
							<li>
								@Html.Hidden("file", file)
								@Html.ActionLink((string)file, "Download", new { file = file, id = Model.Id })
								<input name="action:DeleteFile" class="" type="submit" value="X" />
							</li>
						}
					</ul>
				}
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.FlickrAlbum)
				@Html.TextBoxFor(model => model.FlickrAlbum, new { style = "width: 100%;" })
				Ejemplo: https://www.flickr.com/photos/nombredeusuario/sets/721...083
			</div>
			<div class="editor-label">
				<label for="YouTubeVideo">Video de YouTube</label>
				@Html.TextBoxFor(model => model.YouTubeVideo, new { style = "width: 100%;" })
				Copiar texto de "embed"
			</div>
			@if (!string.IsNullOrEmpty(Model.YouTubeVideo))
			{
				<br />
				@Html.Raw(Model.YouTubeVideo)
			}
			<div class="editor-label">
				<label for="Photo">Foto</label>
				<input name="photo" id="Photo" type="file" accept="image/*" />
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.Date)
				@Html.EditorFor(model => model.Date) (dd/mm/aaaa)
			</div>
			<input name="action:Edit" class="regularbtn" type="submit" value="Guardar" />
			<div class="secbtn">@Html.ActionLink("Volver", "Index")</div>
		</fieldset>
	}
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}