@model IEnumerable<SchoolManager.Domain.Entities.User>
@{
    ViewBag.Title = "Contactos";
}
<script type="text/javascript">
    baseHref = "";

    function search() {
        var text = $("#searchText").val();
        var classroom = $("#searchClassroom").val();
        $("#container").fadeOut("fast");
        $.post("@Url.Action("Search", "User")", { "text" : text, "classroom" : classroom }, function(data) {
            $("#container").html(data).fadeIn("fast");
        });
    }

    $(function() {
        $('#exportLink').click(function () {
            if (baseHref == "")
                baseHref = this.href;
            var text = $("#searchText").val();
            var classroom = $("#searchClassroom").val();
            this.href = baseHref + '?text=' + text + '&classroom=' + classroom;
        });
    });

    function foco(idElemento) {
        document.getElementById(idElemento).focus();
    }

    $(document).ready(function () {
        //if (hay un curso seleccionado)
        //  ejecutar search();
        var e = document.getElementById("searchClassroom");
        var strClassroom = e.options[e.selectedIndex].text;
        if (strClassroom!="")
            search();
        //else
        foco("searchText");
    });
</script>
<div class="banner-seccion">
    <img src="@Url.Content("~/Content/Images/banner_talleres.jpg")" />
</div>
<div class="row-donde">
    <div class="content-wrapper">
        <p>
            Estás aquí: <span>Usuario</span> > <span class="hlited">Contactos</span></p>
    </div>
</div>
<div class="content-wrapper _contacts seccion">
    <h1 class="header-seccion">
        Contactos</h1>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <div class="regularbtn">@Html.ActionLink("Crear nuevo", "Create")</div>
        <br />
        <br />
    }
    <div class="buscador">
        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Teacher"))
        {
            <div class="mixedinput">
                @if (ViewBag.ClassroomId != null)
                { 
                    @Html.DropDownList("searchClassroom", new SelectList(ViewBag.Classrooms, "Id", "Name", ViewBag.ClassroomId))
                }
                else
                {
                    @Html.DropDownList("searchClassroom", new SelectList(ViewBag.Classrooms, "Id", "Name"))
                }
            </div>
        }
        <div class="mixedinput">
            <input id="searchText" type="search" onkeydown="if (event.keyCode == 13) search();"
                placeholder="Buscar..." />
            <input type="submit" value="" onclick="search();" />
        </div>
        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Teacher"))
        {
            @Html.ActionLink("Exportar", "Export", new { text = "", classroom = "" }, new { id = "exportLink", style = "margin-left: 20px" })
        }
    </div>
    <div id="container">
        @Html.Action("Search", "User", new { text = "" })
    </div>
</div>