@model SchoolManager.Domain.Entities.User
@{
    ViewBag.Title = "Details";
}
@*<div class="banner-seccion">
    <img src="@Url.Content("~/Content/Images/banner_talleres.jpg")" />
</div>*@
<div class="row-donde">
    <div class="content-wrapper">
        <p>Estás aquí: <span>Admin</span> > <span>Usuarios</span> > <span class="hlited">Detalles de la cuenta</span></p>
    </div>
</div>
<div class="content-wrapper seccion">
    <h1 class="header-seccion">Detalles de la cuenta</h1>
    <fieldset class="regularform detailsform editform">
        <div class="image-upload">
            <img class="profile-picture" alt="profile picture" height="300px" src="@Url.Content(ViewBag.EditProfilePicturePath)" />
        </div>
        <div class="form-right-side">
            <label>@Html.DisplayNameFor(model => model.Username): @Html.DisplayFor(model => model.Username)</label>
            <label>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.FullName)</label>
            <label>
                @if ((ViewBag.Dad != null) || (ViewBag.Mom != null))
                {
                    if (ViewBag.Dad != null)
                    {
                        <br />
                        @:Su papá es @ViewBag.Dad.FullName
                    }

                    if (ViewBag.Mom != null)
                    {
                        <br />
                        @:Su mamá es @ViewBag.Mom.FullName
                    }
                }
            </label>

            <label>@Html.DisplayNameFor(model => model.Phone): @Html.DisplayFor(model => model.Phone)</label>
            <label>@Html.DisplayNameFor(model => model.Address): @Html.DisplayFor(model => model.Address)</label>
            <label>@Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)</label>
            <label>@Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)</label>
            <label>@Html.DisplayNameFor(model => model.SharePhone): @Html.DisplayFor(model => model.SharePhone)</label>
            <label>@Html.DisplayNameFor(model => model.ShareEmail): @Html.DisplayFor(model => model.ShareEmail)</label>
            <label>@Html.DisplayNameFor(model => model.Birthdate): @Html.DisplayFor(model => model.Birthdate)</label>
            @if (@Model.Classroom != null && @Model.Classroom.Name == "Exalumnos")
            {
                <label>@Html.DisplayNameFor(model => model.YearOfPromotion): @Html.DisplayFor(model => model.YearOfPromotion)</label>
            }
            <div class="divrb">@Html.ActionLink("Editar", "Edit", new { id = Model.Id })</div>
            <div class="secbtn"><a href="javascript:history.back()">Volver al listado</a></div>
        </div>
    </fieldset>
</div>