@model IEnumerable<SchoolManager.Domain.Entities.User>
@{
    ViewBag.Title = "Usuarios";
}
@*<div class="banner-seccion">
	<img src="@Url.Content("~/Content/Images/banner_talleres.jpg")" />
</div>*@
<div class="row-donde">
    <div class="content-wrapper">
        <p>
            Estás aquí: <span>Admin</span> > <span class="hlited">Docentes</span></p>
    </div>
</div>
<div class="content-wrapper seccion">
    <h1 class="header-seccion">Docentes</h1>
    <div class="regularbtn">@Html.ActionLink("Crear nuevo", "Create")</div>
    <br />
    <br />
	<table class="listausers">
		<tr>
			<th>@Html.DisplayNameFor(model => model.Username)</th>
			<th>Nombre</th>
			<th>@Html.DisplayNameFor(model => model.Phone)</th>
			<th>@Html.DisplayNameFor(model => model.Address)</th>
			<th>@Html.DisplayNameFor(model => model.Email)</th>
			<th>Acciones</th>
		</tr>
		@foreach (var item in Model) {
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Username)</td>
				<td>@Html.DisplayFor(modelItem => item.FullName)</td>
				<td>@Html.DisplayFor(modelItem => item.Phone)</td>
				<td>@Html.DisplayFor(modelItem => item.Address)</td>
				<td>@Html.DisplayFor(modelItem => item.Email)</td>
				<td class="actions">
					@Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Ver", "Details", new { id = item.Id }) |
					@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }) |
					@Html.ActionLink("Reset", "Reset", new { id = item.Id })
				</td>
			</tr>
		}
	</table>
</div>